/* GENERAL STYLES */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Fraunces", serif;
  width: 80%;
}

h2 {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", sans-serif;
  font-size: 2.4rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

p {
  /* Equivalent to 14px*/
  font-size: calc(14rem / 16);
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 2;
}

.wrapper {
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  padding-top: 3rem;
}

.perfume-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 2rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 50%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.prod-description {
  width: 80%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.prices {
  display: flex;
  gap: calc(20rem / 16);
}

.strike-price {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.add-cart {
  background-color: hsl(158, 36%, 37%);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 70%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.add-cart:hover {
  background-color: hsl(212, 21%, 14%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* DESKTOP STYLES */
@media (min-width: 1024px) {
  .perfume-mobile {
    display: none;
  }

  .perfume-desktop {
    width: 100%;
    border-radius: 10px 0 0 10px;
    min-height: 100%;
  }

  .images {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

/* MOBILE STYLES */
@media (min-width: 325px) and (max-width: 1024px) {
  body {
    background-color: hsl(30, 38%, 92%);
  }

  h1 {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .perfume-desktop {
    display: none;
  }

  .perfume-mobile {
    width: 100%;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    margin-top: 0;
    border-radius: 10px;
    padding-bottom: 1rem;
  }

  .text-content {
    padding: 1rem;
  }

  .prod-description {
    width: 92%;
  }

  .perfume-title {
    margin-top: 0;
  }

  .add-cart {
    margin-bottom: 1rem;
    margin: auto;
  }
}
